# https://github.com/marketplace/actions/official-sonarqube-scan

name: SonarQube scan

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  sonarqube-scan:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0

    - name: SonarQube scan
      uses: SonarSource/sonarqube-scan-action@2500896589ef8f7247069a56136f8dc177c27ccf  # 5.2.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
